{% extends "base.html" %}
{% load static %}
{% block content %}
{{ block.super }}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<title>{{title}}</title>

</head>

<body>

    <h2 class="text-center">Instagram</h2>
    <br>
    <br>

    {% for image in images%}
        <div class="card" style=" margin-top: 50px">
            <div class="container" style="border-top: 1px solid #EEEEEE; width: 515px;"><br><br>
                <img src="{{image.image.url}}" class="master-card image-responsive" style="width:450px;height:450px;border-radius:15px;padding:15px; margin-top: -60px">
                <br>
                <div class="user" style="margin-top: 20px;">
                    <i class="fa fa-bookmark-o" style="font-size:24px; margin-right: 20px "></i>
                    <strong style="margin-top: 60px"><a style="color: black" href="{% url 'profile' %}">{{ image.user }}</strong>
                </div>
                <br>
                <div class="text-xs px-6 py-4 uppercase text-grey" style=" margin-left: -30px"> 
                    {{image.pub_date | timesince}} ago.
                </div>
                <hr style="width: 400px;">
            </div>
        </div>
    {% endfor %}
</body>



</html>

{% endblock %}